.bottle {

    border: 2px solid tomato;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bottle img {
    width: 250px;
}